@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Bebas Neue Font  */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
  }

  /* Roboto Font */
  .roboto-thin, 
  .fit-section {
    font-family: "Roboto", sans-serif;
  }


  /* Montserrat font  */
  .montserrat-font {
    font-family: "Montserrat", sans-serif;
  }

  /* ____________________________________________________
                   Font Section 
  _______________________________________________________ */


/* Shared section 
__________________________________ */
* {
    padding: 0;
    margin: 0;
}
.primary-description {
    color: rgb(62, 62, 62);
    font-family: "Roboto", sans-serif;
    font-size: .95rem;
    font-weight: 400;
}
.primary-title {
    color: rgb(54, 57, 88);
    font-size: 1.35rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    padding-bottom: .75rem;


}
.buy-now-btn {
    border-radius: 10px;
    background: rgb(42, 30, 89);
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-size: .95rem;
    font-weight: 500;
    padding: 17px 26px;
    border: none;
    cursor: pointer;
}
.buy-now-btn:active {
    transform: scale(0.95); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  }
.buy-now-btn i {
    padding-right: 10px;
}


/* nav section 
_____________________________________ */
header {
    background: rgb(255, 255, 244);
}

nav {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8% ;
}



.nav-logo-img {
    width: 18%;
    /* max-width: 200px; */
    height: fit-content;
    /* border: 2px solid green; */
}

.nav-list-section {
    /* border: 2px solid green; */
    width: 30%;
}
.nav-list-section ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 5%;

}



/* Hero section 
_________________________________________ */
.hero-section {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
}
  
.hero-left-container {
    /* border: 1px solid green; */
    width: 30%;
    padding-top: 3rem;
}
.hero-left-title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    color: rgb(54, 57, 88);
    margin-bottom: .4rem;
}
.hero-left-title span {
    color: rgb(118, 194, 126);
}
.hero-btn {
    margin-top: 1.5rem;
}

.hero-img-container {
    background: url(images/bg-bag.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 2px solid gold; */
    width: 30%;
    padding-right: 3rem;
    padding-bottom: 3rem;
}
.hero-img {
    width: 100%;
}


  


/* Fit section 
_________________________ */
/* main {
    background: rgb(229, 229, 229);
    visibility: hidden;
    height: 20px;
    width: 100%;
} */

.fit-section {
    /* border: 2px solid yellow; */
    padding: 50px 125px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fit-left-card-container {
    /* border: 1px solid black; */
    /* display: flex; */
    width: 45%;
}
.fit-card {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 15px 50px 15px 20px;
    margin: 12px 0;

    border-radius: 20px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
}

.fit-card h3 {
    color: rgb(54, 57, 88);
    font-size: 1.35rem;
    font-weight: 700;
    padding-bottom: .75rem;
}

.fit-card p {
    color: rgb(62, 62, 62);
    font-family: "Roboto", sans-serif;
    font-size: .9rem;
    font-weight: 400;
}
  
.fit-card-img {
    width: 50px;
    height: fit-content;
}


.fit-img-container {
    /* border: 1px solid green; */
    width: 45%;
}
.fit-img {
    width: 99%;
}



  

/* CART SECTION  */


/* SHOPPING CARTS */

.shopping-section-title {
    color: rgb(54, 57, 88);
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.75rem;
    font-weight: 700;
    padding-left: 10%;
    padding-bottom: 1.8rem;
    padding-top: 3rem;
    /* border: 1px solid salmon; */
    /* padding: 0; */
}
.shopping-cart-container {
    /* border: 1px solid black; */
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 3%;
}

.shopping-cart {
    /* border: 2px solid green; */
    padding: 15px 15px 30px 15px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
}
.cart-title {
    padding-top: 15px;
}
.cart-description {
    padding-bottom: 15px;
    width: 95%;
    /* border: 1px solid green; */
}
  
.cart-add-container {
    /* border: 2px solid gold; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-price {
    color: rgb(118, 194, 126);
    font-family: Roboto;
    font-size: 2rem;
    font-weight: 900;
}

.cart-img-container {
    /* border: 1px solid palevioletred; */
    display: flex;
    padding: 2rem;
    border-radius: 20px;
    background: rgb(241, 241, 241);
}
.shopping-cart-img {
    /* border: 1px solid green; */
    width: 130px;
    width: 100%;
    /* padding: 2.25rem; */
    margin: 0 auto;

}

.travel-section {
    /* border: 1px solid black; */
    margin-bottom: 10rem;
}
